.container {
    position: absolute;
    width: auto;
    height: 50px;
    bottom: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
}

.container {
    font-size: 20pt;
    color: rgb(143, 142, 142);
    font-weight: 600;
}
